body {
 padding-top: 70px;
}

.navbar {
 background-color: #870010;
}

.navbar-inverse .navbar-brand {
 color: black;
}

.navbar-inverse .navbar-nav>li>a {
 color: black;
}

.jumbotron {
 color: #000000;
 background-color: rgba(117, 65, 65, 0.16);
}
